<h1>Doctor's Appointments:</h1>

<ul>

<% @doctor.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
    <li><%= link_to appointment.patient.name, patient_path(appointment.patient) %></li>
<% end %>

</ul>